state-machines/events-app-home-opened.asl.json
{
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Next": "Get Request",
      "ResultSelector": {
        "channel.$": "$[0].channel",
        "event_time.$": "$[1].event_time",
        "token.$": "$[0].token",
        "user_id.$": "$[1].user_id"
      },
      "Branches": [
        {
          "StartAt": "Query DynamoDB",
          "States": {
            "Query DynamoDB": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "End": true,
              "ResultSelector": {
                "token.$": "$.Item.ACCESS_TOKEN.S",
                "channel.$": "$.Item.CHANNEL_ID.S"
              },
              "Parameters": {
                "TableName": "${table_name}",
                "ProjectionExpression": "ACCESS_TOKEN,CHANNEL_ID",
                "Key": {
                  "GUID": {
                    "S.$": "States.Format('{}/{}', $.api_app_id, $.team_id)"
                  },
                  "SORT": { "S": "SLACK/AUTH" }
                }
              }
            }
          }
        },
        {
          "StartAt": "Transform Event",
          "States": {
            "Transform Event": {
              "Type": "Pass",
              "End": true,
              "Parameters": {
                "event_time.$": "$.event_time",
                "user_id.$": "$.event.user"
              }
            }
          }
        }
      ]
    },
    "Get Request": {
      "Type": "Pass",
      "Next": "Encode View",
      "Parameters": {
        "headers": {
          "content-type": "application/json; charset=utf-8",
          "authorization.$": "States.Format('Bearer {}', $.token)"
        },
        "body": {
          "user_id.$": "$.user_id",
          "view": {
            "type": "home",
            "callback_id": "settings",
            "title": {
              "type": "plain_text",
              "text": "Brutalismbot Home",
              "emoji": true
            },
            "blocks": [
              {
                "type": "image",
                "image_url": "https://brutalismbot.com/banner.png",
                "alt_text": "brutalist"
              },
              {
                "type": "header",
                "text": {
                  "type": "plain_text",
                  "text": "Settings",
                  "emoji": true
                }
              },
              {
                "block_id": "conversation_select",
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "Brutalismbot will post messages to…"
                },
                "accessory": {
                  "type": "conversations_select",
                  "action_id": "brutalismbot_conversation",
                  "initial_conversation.$": "$.channel",
                  "placeholder": {
                    "type": "plain_text",
                    "text": "Select channel",
                    "emoji": true
                  }
                }
              }
            ]
          }
        }
      }
    },
    "Encode View": {
      "Type": "Pass",
      "Next": "Send Request",
      "Parameters": {
        "headers.$": "$.headers",
        "body": {
          "user_id.$": "$.body.user_id",
          "view.$": "States.JsonToString($.body.view)"
        }
      }
    },
    "Send Request": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "TimeoutSeconds": 5,
      "End": true,
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "brutalismbot",
            "Source": "slack",
            "DetailType": "post",
            "Detail": {
              "body.$": "States.JsonToString($.body)",
              "headers.$": "$.headers",
              "task-token.$": "$$.Task.Token",
              "url": "https://slack.com/api/views.publish"
            }
          }
        ]
      }
    }
  }
}
